<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav slimscrollsidebar">
        <div class="sidebar-head">
            <h3><span class="fa-fw open-close"><i class="ti-close ti-menu"></i></span> <span class="hide-menu">Menu</span></h3>
        </div>
        <div class="user-profile">
            <div class="dropdown user-pro-body">
                <div><img src="../img/85028014-1.png" alt="user-img" class="img-circle"></div>
                <a href="#" class="dropdown-toggle u-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Quan Tran <span class="caret"></span></a>
                <ul class="dropdown-menu animated flipInY">
                    <li><a href="#"><i class="ti-user"></i> My Profile</a></li>
                    <li><a href="#"><i class="ti-wallet"></i> My Balance</a></li>
                    <li><a href="#"><i class="ti-email"></i> Inbox</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#"><i class="ti-settings"></i> Account Setting</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="login.html"><i class="fa fa-power-off"></i> Logout</a></li>
                </ul>
            </div>
        </div>
        <ul class="nav" id="side-menu">

            <li>
                <a href="index.html" class="waves-effect"><i class="mdi mdi-av-timer fa-fw" data-icon="v"></i> <span class="hide-menu"> Trang quản trị </span></a>
            </li>
            <li>
                <a href="#" class="waves-effect"><i class="fa-fw fa fa-film"></i> <span class="hide-menu">Quản lý phim<span class="fa arrow"></span></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="add-movie.html"><i class="linea-icon linea-basic fa-fw fa fa-plus"></i> <span class="hide-menu">Thêm phim mới</span></a></li>
                    <li><a href="search-movie.html"><i class="linea-icon linea-basic fa-fw fa fa-search"></i> <span class="hide-menu">Tìm kiếm phim</span></a></li>
                    <li>
                        <a href="javascript:void(0)"><i class="linea-icon linea-basic fa-fw fa fa-edit"></i> <span class="hide-menu">Quản lý thể loại</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li> <a href="add-genre.html"><i class="linea-icon linea-basic fa-fw fa fa-plus"></i><span class="hide-menu">Thêm thể loại</span></a> </li>
                            <li> <a href="list-genres.html"><i class="linea-icon linea-basic fa-fw fa fa-list-ul"></i><span class="hide-menu">Danh sách thể loại</span></a> </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" class="waves-effect"><i class="fa-fw fa fa-calendar"></i> <span class="hide-menu">Quản lý lịch chiếu<span class="fa arrow"></span></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="add-showing.html"><i class="linea-icon linea-basic fa-fw fa fa-plus"></i> <span class="hide-menu">Thêm suất chiếu</span></a></li>
                    <li><a href="calendar.html"><i class="linea-icon linea-basic fa-fw fa fa-search"></i> <span class="hide-menu">Lịch chiếu</span></a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="waves-effect"><i class="fa-fw fa fa-television"></i> <span class="hide-menu">Quản lý phòng chiếu<span class="fa arrow"></span></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="add-auditorium.html"><i class="linea-icon linea-basic fa-fw fa fa-plus"></i> <span class="hide-menu">Tạo phòng chiếu</span></a></li>
                    <li><a href="list-auditoriums.html"><i class="linea-icon linea-basic fa-fw fa fa-list-ul"></i> <span class="hide-menu">Danh sách phòng chiếu</span></a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="waves-effect"><i class="fa-fw fa fa-user"></i> <span class="hide-menu">Quản lý người dùng<span class="fa arrow"></span></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="add-account.html"><i class="linea-icon linea-basic fa-fw fa fa-plus"></i> <span class="hide-menu">Thêm người dùng</span></a></li>
                    <li><a href="list-accounts.html"><i class="linea-icon linea-basic fa-fw fa fa-list-ul"></i> <span class="hide-menu">Danh sách người dùng</span> </a>
                </ul>
            </li>
            <li>
                <a href="#" class="waves-effect"><i class="fa-fw fa fa-credit-card-alt"></i> <span class="hide-menu">Quản lý đặt vé<span class="fa arrow"></span></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="list-reservations.html"><i class="linea-icon linea-basic fa-fw fa fa-list-ul"></i> <span class="hide-menu">Danh sách đặt vé</span></a></li>
                    <li><a href="check-in.html"><i class="linea-icon linea-basic fa-fw fa fa-check"></i> <span class="hide-menu">Kiểm tra vé</span></a></li>
                </ul>
            </li>
            <li>
                <a href="ticket-price.html" class="waves-effect"><i class="fa-fw fa fa-dollar"></i> <span class="hide-menu">Quản lý giá vé</span></a>
            </li>
            <li>
                <a href="#" class="waves-effect"><i class="fa-fw fa fa-bar-chart-o"></i> <span class="hide-menu">Thống kê</span></a>
            </li>
        </ul>
    </div>
</div>
